/* =========================================
   Configuraciones globales
   ========================================= */

:root {
    --font-title: Helvetica, Verdana, Arial, sans-serif;
    --font-text: 'Verdana', Georgia, serif;
    --white: #fafafa;
    --black: #333;
    --light-gray: #f3f3f3;
    --gray:#dddddd;
    --dark-gray:#747474;
    --primary: #2ea264;
    --dark-primary: #26533b;
    --progress-color-low: #e74c3c;
    --progress-color-medium: #f39c12;
    --progress-color-high: #cec819;
    --progress-color-complete: #2ea264;
}